*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: $font-primary;
  font-size: 1.8rem;
  font-weight: 500;
  background-color: $secondaryWhite;
  min-height: 78rem;
  position: relative;
}

.btn {
  border: none;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

ul {
  list-style-type: none;
}

a {
  &:link {
    text-decoration: none;
  }
}

@media screen and (min-width: 768px) {
  body {
    min-height: 100vh;
  }
}
